.totalCart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    width: 384px;
    height: auto;
    background: #F7F5F3;
    border-radius: 10px;
}

.totalDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: auto;
}

.totalDetails h3 {
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    
}

.totalDetails hr {
    width: 336px;
    height: 0px;
    border: 1px solid #E3DED7;
}

.subTotalDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 16px;
    text-align: left;
}

.detailOfTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 40px;
}

.subtotalTitle {
    width: 70px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.subtotalAmount {
    width: auto;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: right;
}

.totalTitle {
    width: 45px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.totalAmount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    width: 107px;
    height: 40px;
}

.subtotalIVA {
    width: 127px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #515051;
}

.totalBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: 196px;
    height: 40px;
    background: #2A5B45;
    opacity: 0.3;
    border-radius: 4px;
}

.payAndOrder {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 8px;
    width: auto;
    height: 50px;
    background: #2A5B45;
    opacity: 0.3;
    border-radius: 4px;
}

.payAndOrder p {
    width: 148px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.checkout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px;
    gap: 8px;
    width: 132px;
    height: 100%;
    background: #2A5B45;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}

.keepBuying {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 24px;
    gap: 8px;
    width: auto;
    height: 100%;
    border-radius: 4px;
    width: auto;
    height: auto;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2A5B45;
    border: none;
}
.subtotalR{
    gap: 100px;
}