.productsCartBox {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-start;
    padding: 40px;
    gap: 24px;
    width: 100%;
    min-height: 772px;
    height: auto;
    
}

.productsCartBox h2 {
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #2A5B45;
}

.detailsBox {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: auto;
}

.producTable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    width: 792px;
    height: auto;
    
}

.producTable h3 {
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.shippingMode h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: left;
}

.shipping {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    width: 657px;
    height: 36px;
    line-height: 0;
    
}

.standar {
    width: 180px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: left;
}

.conditionsTimes {
    width: 600px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 0px;
    color: #000000;
    text-align: left;
    align-items: flex-start;
}
.totalR{
    font-size: 0.2px;
}