
.navBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 35px;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    color: #fff;
    top: 0;
    z-index: 50;
}

.logo {
    display: flex;
    width: 186px;
    height: 36px;
    align-items: center;
    gap: 7.33px;
}

.logo a {
    width: 186px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 23.46px;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
}

.menuWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 32px;
}

.menuWrapper a {
    width: auto;
    height: 36px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.contacLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}

.contacLink img {
    width: 24px;
    height: 24px;
}

.phoneContact {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 8px;
    width: auto;
    height: 24px;
}

.phoneContact p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 65px;
    width: 108px;
    height: 50px;
}

.shopingCarIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 56px;
    height: auto;
}

.cart {
    width: 24px;
    height: 24px;
}

.count-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 24px;
    height: 24px;
    background: rgba(247, 245, 243, 0.1);
    border-radius: 200px;
}

.count-product p {
    width: 7px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 25px;
}

.btn-star {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    gap: 2px;
    width: 105px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
} 